<section>
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="container">
    <div class="title">
      <h3 class="text-center">Add Today's Menu</h3>
    </div>
    <div class="row">
      <table class="table align-middle mb-0 bg-white">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Time</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let category of menuCategories">
            <tr>
              <td [attr.rowspan]="category.items.length + 1">{{ category.title }}</td>
              <td [attr.rowspan]="category.items.length + 1">{{ category.time }}</td>
            </tr>
            <ng-container *ngFor="let item of category.items">
              <tr>
                <td class="text-capitalize">{{ item.item_name }}</td>
                <td>{{ item.price | currency:'INR' }}</td>
                <td>
                  <div class="dropdown ml-auto">
                    <div class="btn-link" data-bs-toggle="dropdown">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M11.0005 12C11.0005 12.5523 11.4482 13 12.0005 13C12.5528 13 13.0005 12.5523 13.0005 12C13.0005 11.4477 12.5528 11 12.0005 11C11.4482 11 11.0005 11.4477 11.0005 12Z"
                          stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                          d="M18.0005 12C18.0005 12.5523 18.4482 13 19.0005 13C19.5528 13 20.0005 12.5523 20.0005 12C20.0005 11.4477 19.5528 11 19.0005 11C18.4482 11 18.0005 11.4477 18.0005 12Z"
                          stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                          d="M4.00049 12C4.00049 12.5523 4.4482 13 5.00049 13C5.55277 13 6.00049 12.5523 6.00049 12C6.00049 11.4477 5.55277 11 5.00049 11C4.4482 11 4.00049 11.4477 4.00049 12Z"
                          stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a (click)="addTodayMenu(category._id, [item._id])" class="dropdown-item text-black">
                        <i class="far fa-check-circle me-1 text-success"></i>Add Item
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>