<section class="d-flex">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-sm-4">
      <div class="mt-sm-4 d-flex flex-wrap align-items-center text-head justify-content-end">
        <div>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Add Today's Menu</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex flex-column align-items-center">
        <div class="tabs w-100">
          <div class="menu-selection-card d-flex justify-content-start pt-3 ">
            <div class="breakfast">
              <button [ngClass]="{'active-button': selectedCategory === 'Breakfast'}"
                (click)="updateSelectedCategory('Breakfast')">
                Breakfast
              </button>
            </div>
            <div class="lunch">
              <button [ngClass]="{'active-button': selectedCategory === 'Lunch'}"
                (click)="updateSelectedCategory('Lunch')">
                Lunch
              </button>
            </div>
            <div class="snacks">
              <button [ngClass]="{'active-button': selectedCategory === 'Snacks'}"
                (click)="updateSelectedCategory('Snacks')">
                Snacks
              </button>
            </div>
          </div>
          <div class="content">
            <app-meal-card [displayTotalItems]="true" [displayAddItemToCartCard]="false"
              [selectedCategory]="selectedCategory"></app-meal-card>
          </div>
        </div>
      </div>

      <!-- <div class="col-xl-8">
        <div class="card">
          <div class="card-body">
            <div class="custom-tab">
              <ul class="nav nav-tabs">
                <div class="breakfast">
                  <button [ngClass]="{'active-button': selectedCategory === 'Breakfast'}"
                    (click)="updateSelectedCategory('Breakfast')">
                    Breakfast
                  </button>
                </div>
                <div class="lunch">
                  <button [ngClass]="{'active-button': selectedCategory === 'Lunch'}"
                    (click)="updateSelectedCategory('Lunch')">
                    Lunch
                  </button>
                </div>
                <div class="snacks">
                  <button [ngClass]="{'active-button': selectedCategory === 'Snacks'}"
                    (click)="updateSelectedCategory('Snacks')">
                    Snacks
                  </button>
                </div>
              </ul>
              <div class="tab-content">
                <div>
                  <app-meal-card [displayTotalItems]="true" [displayAddItemToCartCard]="false"
                    [selectedCategory]="selectedCategory"></app-meal-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="today-Sidebar">
    <app-sidebar class="w-100" [adminCart]="true" [sidenav]="false"></app-sidebar>
  </div>
</section>