<!-- order history table -->
<section class="order-history-container pb-4" *ngIf="orderHistory">
  <div class="order-history-card">
    <div class="row my-4">
      <div class="col-12">
        <div class="card ">
          <div class="card-header py-4 d-flex flex-wrap align-items-center justify-content-between">
            <span> Order History </span>
            <div class="searchBar">
              <input type="text" class="bg-transparent" placeholder="Search users..." [(ngModel)]="searchName"
                (keydown)="searchDebounced()">
              <label for="search-icon"><i class="fa fa-search" aria-hidden="true"></i></label>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive w-100">
              <app-loader *ngIf="isLoading"></app-loader>
              <table mat-table matSort [dataSource]="orderHistoryData" class="mat-elevation-z8">
                <ng-container matColumnDef="_id" class="mat-column-_id mat-header-cell-orderId mat-cell-orderId">
                  <th mat-header-cell *matHeaderCellDef> Order Id</th>
                  <td mat-cell *matCellDef="let element" class="mat-cell-orderId">
                    <span class="orderId" (click)="copyOrderId(element._id)">{{ element._id }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <ng-container matColumnDef="emp_id">
                  <th mat-header-cell *matHeaderCellDef> Employee ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
                </ng-container>
                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>
                <ng-container matColumnDef="order_status">
                  <th mat-header-cell *matHeaderCellDef> Order Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
                </ng-container>
                <ng-container matColumnDef="totalBalance">
                  <th mat-header-cell *matHeaderCellDef> Total Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.totalBalance}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" style="min-width: 120px;">
                      <select name="more-action" id="form-control" class="form-control">
                        <option value=" ">Select</option>
                        <option value="view-user">View </option>
                      </select>
                    </td>
                  </ng-container> -->
                <!-- Define the table header row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- Define the table rows -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <!-- Paginator -->
              <div class="mat-paginator">
                <mat-paginator [length]="totalItemsOrderHistory" [pageSizeOptions]="pageSizeOptions"
                  [pageSize]="pageSizeOrderHistory" [pageIndex]="currentPageOrderHistory"
                  (page)="pagesChangedOrderHistory($event)"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-content select=".orderHistory"></ng-content>
</section>
<!-- end  -->

<!-- pending order table  -->
<section class="pendingOrder-container pb-4" *ngIf="pendingOrder">
  <!-- <app-loader *ngIf="isLoading"></app-loader> -->
  <div class="pendingOrder-card">
    <div class="row my-4">
      <div class="col-12">
        <div class="card ">
          <div class="card-header py-4 d-flex flex-wrap align-items-center justify-content-between">
            <span> Pending Order's </span>
          </div>
          <div class="card-body">
            <div class="table-responsive w-100">
              <table mat-table matSort [dataSource]="pagedEmployeeData" class="mat-elevation-z8">
                <ng-container matColumnDef="_id" class="mat-column-_id mat-header-cell-orderId mat-cell-orderId">
                  <th mat-header-cell *matHeaderCellDef> Order Id</th>
                  <td mat-cell *matCellDef="let element" class="mat-cell-orderId">
                    <span class="orderId" (click)="copyOrderId(element._id)">{{ element._id }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="emp_id">
                  <th mat-header-cell *matHeaderCellDef> Employee ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
                </ng-container>

                <ng-container matColumnDef="itemName">
                  <th mat-header-cell *matHeaderCellDef>Item Info</th>
                  <td mat-cell *matCellDef="let order" class="mat-cell-order-rec">
                    <table class="mat-elevation-z8">
                      <tr *ngFor="let record of order.order_rec">
                        <td>{{ record.item_name }}</td>
                        <td> {{ record.quantity }}</td>
                      </tr>
                    </table>
                  </td>
                </ng-container>

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef>Price</th>
                  <td mat-cell *matCellDef="let order" class="mat-cell-order-rec">
                    <div class="order-rec">
                      <div *ngFor="let record of order.order_rec">
                        {{ record.price }}
                      </div>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="totalBalance">
                  <th mat-header-cell *matHeaderCellDef> Total Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.totalBalance}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <div mat-cell *matCellDef="let element" class="dropdown ml-auto">
                    <div class="btn-link" style="cursor: pointer;" data-bs-toggle="dropdown">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M11.0005 12C11.0005 12.5523 11.4482 13 12.0005 13C12.5528 13 13.0005 12.5523 13.0005 12C13.0005 11.4477 12.5528 11 12.0005 11C11.4482 11 11.0005 11.4477 11.0005 12Z"
                          stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                          d="M18.0005 12C18.0005 12.5523 18.4482 13 19.0005 13C19.5528 13 20.0005 12.5523 20.0005 12C20.0005 11.4477 19.5528 11 19.0005 11C18.4482 11 18.0005 11.4477 18.0005 12Z"
                          stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                          d="M4.00049 12C4.00049 12.5523 4.4482 13 5.00049 13C5.55277 13 6.00049 12.5523 6.00049 12C6.00049 11.4477 5.55277 11 5.00049 11C4.4482 11 4.00049 11.4477 4.00049 12Z"
                          stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item text-black" (click)="changeOrderStatus(element._id, 'confirm')"><i
                          class="far fa-check-circle me-1 text-success"></i>Accept order</a>
                      <a class="dropdown-item text-black" (click)="changeOrderStatus(element._id, 'cancelled')"><i
                          class="far fa-times-circle me-1 text-danger"></i>Reject order</a>
                    </div>
                  </div>
                </ng-container> -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <button class="button-success" (click)="changeOrderStatus(element._id, 'confirm')">
                      Confirm
                    </button>
                    <button class="button-danger" (click)="changeOrderStatus(element._id, 'cancelled')">
                      Reject
                    </button>
                  </td>
                </ng-container>

                <!-- Define the table header row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPendingOrders"></tr>
                <!-- Define the table rows -->
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPendingOrders"></tr>
              </table>
              <!-- Paginator -->
              <div class="mat-paginator">
                <mat-paginator [length]="totalItemsPendingOrder" [pageSizeOptions]="[5, 10, 25, 100]"
                  [pageSize]="pageSizePendingOrder" [pageIndex]="currentPagePendingOrder"
                  (page)="pageChangedPendingOrder($event)"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-content select=".pendingOrder"></ng-content>
</section>
<!-- end  -->