<!-- order history table -->
<section class="order-history-container pb-4" *ngIf="orderHistory">
  <div class="order-history-card">
    <div class="row my-4">
      <div class="col-12">
        <div class="card ">
          <div class="card-header py-4 d-flex flex-wrap align-items-center justify-content-between">
            <div>
              <span> Order History </span>
            </div>
            <div class=" d-flex flex-wrap align-items-center justify-content-between ">
              <button class="btn btn-outline-primary" (click)="openDateRangeModal()">Download Excel</button>
              <div class="dropdown">
                <div class="custom-select d-flex align-items-center" style="width: 186px;">
                  <select id="excelOption" name="excelOption" class="form-control" aria-label="Excel Option"
                    (change)="onExcelOptionChange($event)">
                    <option style="display: none;" value="" disabled selected>Excell Sort</option>
                    <option value="weekly">Download Weekly </option>
                    <option value="monthly">Download Monthly</option>
                  </select>
                  <div class="dropdown-arrow">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="dropdown">
                <div class="custom-select d-flex align-items-center">
                  <select id="menuTitle" name="menuTitle" class="form-control" aria-label="Default select example"
                    (change)="onSelectChange($event)">
                    <option style="display: none;" value="" disabled selected>Order Status</option>
                    <option value="confirm">confirm</option>
                    <option value="pending">pending</option>
                    <option value="cancelled">cancelled</option>
                  </select>
                  <div class="dropdown-arrow">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </div>
                </div>
              </div>

              <div class="searchBar">
                <input type="text" class="bg-transparent" placeholder="Search users..." [(ngModel)]="searchName"
                  (keydown)="searchDebounced()">
                <label for="search-icon"><i class="fa fa-search" aria-hidden="true"></i></label>
              </div>
            </div>

          </div>
          <div class="card-body">
            <div class="table-responsive w-100" style="min-height: 500px;">
              <app-loader *ngIf="isLoadingOrderHistory"></app-loader>
              <table mat-table matSort [dataSource]="orderHistoryData" class="mat-elevation-z8">
                <ng-container matColumnDef="_id" class="mat-column-_id mat-header-cell-orderId mat-cell-orderId">
                  <th mat-header-cell *matHeaderCellDef> Order Id</th>
                  <td mat-cell *matCellDef="let element" class="mat-cell-orderId">
                    <span class="orderId" (click)="copyOrderId(element._id)">{{ element._id }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <ng-container matColumnDef="emp_id">
                  <th mat-header-cell *matHeaderCellDef> Employee ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
                </ng-container>
                <ng-container matColumnDef="fullName">
                  <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>
                <ng-container matColumnDef="order_status">
                  <th mat-header-cell *matHeaderCellDef> Order Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
                </ng-container>
                <ng-container matColumnDef="totalBalance">
                  <th mat-header-cell *matHeaderCellDef> Total Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.totalBalance}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" style="min-width: 120px;">
                      <select name="more-action" id="form-control" class="form-control">
                        <option value=" ">Select</option>
                        <option value="view-user">View </option>
                      </select>
                    </td>
                  </ng-container> -->
                <!-- Define the table header row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- Define the table rows -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <div class="mat-paginator">
                <mat-paginator [length]="totalItemsOrderHistory" [pageSizeOptions]="pageSizeOptions"
                  [pageSize]="pageSizeOrderHistory" [pageIndex]="currentPageOrderHistory"
                  (page)="pagesChangedOrderHistory($event)"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #dateRangeModal let-modal>
    <div class="modal-header d-flex align-items-center">
      <h4 class="modal-title">Select Date Range</h4>
      <i class="fa fa-times close" style="cursor: pointer;" (click)="modal.dismiss('Cross click')"
        aria-hidden="true"></i>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onDateRangeSubmit()" #dateRangeForm="ngForm">
        <div class="form-group m-2">
          <label for="startDate">Start Date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="startDate" required
            (change)="onStartDateChange()" />
        </div>
        <div class="form-group m-2">
          <label for="endDate">End Date</label>
          <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="endDate" [min]="startDate"
            required />
        </div>
        <button type="submit" class="btn btn-outline-primary w-100 mt-2" [disabled]="dateRangeForm.invalid">
          Submit
        </button>
      </form>
    </div>
  </ng-template>


  <ng-content select=".orderHistory"></ng-content>
</section>
<!-- end  -->

<!-- pending order table  -->
<section class="pendingOrder-container pb-4" *ngIf="pendingOrder">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="pendingOrder-card">
    <div class="container">
      <div class="row my-4">
        <div class="col-xl-12">
          <div class="card ">
            <div class="card-header py-4 d-flex flex-wrap align-items-center justify-content-between">
              <span> Pending Order's </span>
            </div>
            <div class="card-body">
              <div class="table-responsive w-100">
                <table mat-table matSort [dataSource]="pagedEmployeeData" class="mat-elevation-z8">
                  <ng-container matColumnDef="_id" class="mat-column-_id mat-header-cell-orderId mat-cell-orderId">
                    <th mat-header-cell *matHeaderCellDef> Order Id</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell-orderId">
                      <span class="orderId" (click)="copyOrderId(element._id)">{{ element._id }}</span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="emp_id">
                    <th mat-header-cell *matHeaderCellDef> Employee ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="itemName">
                    <th mat-header-cell *matHeaderCellDef>Item Info</th>
                    <td mat-cell *matCellDef="let order" class="mat-cell-order-rec">
                      <div class="order-rec">
                        <div *ngFor="let record of order.order_rec" class="mb-1 d-flex justify-content-between">
                          {{ record.item_name }}*{{ record.quantity }}
                          <span class="material-symbols-rounded" style="color: #dc3545;"
                            (click)="deleteOrderItem(order._id, record?.itemId)">
                            delete
                          </span>
                        </div>

                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let order" class="mat-cell-order-rec">
                      <div class="order-rec">
                        <div *ngFor="let record of order.order_rec" class="mb-1">
                          {{ record.price }}
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="totalBalance">
                    <th mat-header-cell *matHeaderCellDef> Total Amount</th>
                    <td mat-cell *matCellDef="let element"> {{element.totalBalance}} </td>
                  </ng-container>
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      <button class="button-success" (click)="changeOrderStatus(element._id, 'confirm')">
                        Confirm
                      </button>
                      <button class="button-danger" (click)="changeOrderStatus(element._id, 'cancelled')">
                        Reject
                      </button>
                    </td>
                  </ng-container>

                  <!-- Define the table header row -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsPendingOrders"></tr>
                  <!-- Define the table rows -->
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsPendingOrders"></tr>
                </table>
                <!-- Paginator -->
                <div class="mat-paginator">
                  <mat-paginator [length]="totalItemsPendingOrder" [pageSizeOptions]="pageSizeOptionsPendingOrder"
                    [pageSize]="pageSizePendingOrder" [pageIndex]="currentPagePendingOrder"
                    (page)="pageChangedPendingOrder($event)"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-content select=".pendingOrder"></ng-content>
</section>
<!-- end  -->

<!-- user order history  -->
<section class="order-history-container pb-4" *ngIf="userorderhistory">
  <div class="order-history-card">
    <div class="row my-4">
      <div class="col-12">
        <div class="card ">
          <div class="card-header py-4 d-flex flex-wrap align-items-center justify-content-between">
            <div class=" d-flex flex-wrap align-items-center justify-content-between ">
              <button class="btn btn-outline-primary" (click)="openDateRangeModal()">Download Excel</button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive w-100">
              <!-- <app-loader *ngIf="isLoadingOrderHistory"></app-loader> -->
              <div *ngIf="orderHistoryData.length === 0; else orderHistoryTable">
                No items found matching the search criteria.
              </div>
              <ng-template #orderHistoryTable>
                <table mat-table matSort [dataSource]="orderHistoryData" class="mat-elevation-z8">
                  <ng-container matColumnDef="_id" class="mat-column-_id mat-header-cell-orderId mat-cell-orderId">
                    <th mat-header-cell *matHeaderCellDef> Order Id</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell-orderId">
                      <span class="orderId" (click)="copyOrderId(element._id)">{{ element._id }}</span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>
                  <ng-container matColumnDef="emp_id">
                    <th mat-header-cell *matHeaderCellDef> Employee ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="order_status">
                    <th mat-header-cell *matHeaderCellDef> Order Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
                  </ng-container>
                  <ng-container matColumnDef="totalBalance">
                    <th mat-header-cell *matHeaderCellDef> Total Amount</th>
                    <td mat-cell *matCellDef="let element"> {{element.totalBalance}} </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let element" style="min-width: 120px;">
                        <select name="more-action" id="form-control" class="form-control">
                          <option value=" ">Select</option>
                          <option value="view-user">View </option>
                        </select>
                      </td>
                    </ng-container> -->
                  <!-- Define the table header row -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <!-- Define the table rows -->
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <!-- Paginator -->
                <div class="mat-paginator">
                  <mat-paginator [length]="totalItemsOrderHistory" [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="pageSizeOrderHistory" [pageIndex]="currentPageOrderHistory"
                    (page)="pagesChangedOrderHistory($event)"></mat-paginator>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #dateRangeModal let-modal>
    <div class="modal-header d-flex align-items-center">
      <h4 class="modal-title">Select Date Range</h4>
      <i class="fa fa-times close" style="cursor: pointer;" (click)="modal.dismiss('Cross click')"
        aria-hidden="true"></i>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onDateRangeSubmit()" #dateRangeForm="ngForm">
        <div class="form-group m-2">
          <label for="startDate">Start Date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="startDate" required
            (change)="onStartDateChange()" />
        </div>
        <div class="form-group m-2">
          <label for="endDate">End Date</label>
          <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="endDate" [min]="startDate"
            required />
        </div>
        <button type="submit" class="btn btn-outline-primary w-100 mt-2" [disabled]="dateRangeForm.invalid">
          Submit
        </button>
      </form>
    </div>
  </ng-template>


  <ng-content select=".userorderhistory"></ng-content>
</section>
<!-- end -->
