<section>
  <div class="container">
    <div class="row">
      <div class="add-product-container">
        <h3>Add/Edit Product</h3>
        <form #addProduct="ngForm" (ngSubmit)="onSubmit(addProduct.value, addProduct)">
          <div class="form-group">
            <label for="item_name">Product Name:</label>
            <input type="text" id="item_name" name="item_name" class="form-control"
              [ngModel]="editedItem ? editedItem.item_name : ''"
              (ngModelChange)="editedItem ? editedItem.item_name = $event : null" required minlength="3"
              placeholder="Rajma Chawal">
            <div *ngIf="addProduct.controls['item_name'].errors?.['required']">
              Product Name is required.
            </div>
            <div *ngIf="addProduct.controls['item_name'].errors?.['minlength']">
              Product Name must be at least 3 characters long.
            </div>
          </div>

          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" class="form-control"
              [ngModel]="editedItem ? editedItem.price : ''"
              (ngModelChange)="editedItem ? editedItem.price = $event : null" required min="1" placeholder="$">

            <div *ngIf="addProduct.controls['price'].errors?.['required']">
              Price is required.
            </div>
            <div *ngIf="addProduct.controls['price'].errors?.['min']">
              Price must be a positive number.
            </div>
          </div>
          <button type="submit" class="btn">{{ editedItem ? 'Update Product' : 'Add Product' }}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="product-table-container">
    <h3>Product List</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menuItem of menuItems">
          <td>{{ menuItem.item_name }}</td>
          <td>{{ menuItem.price }}</td>
          <td>
            <button class="edit" (click)="editProduct(menuItem)"><i class="fa fa-pencil"
                aria-hidden="true"></i></button>
            <button class="delete" (click)="deleteProduct(menuItem._id)"><i class="fa fa-trash"
                aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>