@import "../../.../../../../theme_var.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

.personal-info {
  height: 15rem;
  background-color: $light-primmary-color;
  border: none;
  border-radius: 160px;
  width: 20%;

  .avatar {
    span {
      color: white;
      font-size: 30px;
    }
  }
}

h6 {
  margin: 0px;
  font-family: Poppins;
  border-bottom: 2px solid black;
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgb(35, 35, 96);
  font-weight: 400;
}

// .card {
//   border: none;
//   border-radius: 0;
//   border-bottom: 2px solid black;
//   background-color: transparent;

//   .nav-tabs {
//     border: none;
//   }
// }

.card-header {
  background-color: #ffff;
}
