<section>
  <div class="container">
    <div class="row justify-content-between align-items-start mt-5">
      <div class="col-md-2 me-5 personal-info d-flex justify-content-center align-items-center">
        <div class="avatar">
          <span>
            {{avatarInitial}}
          </span>
        </div>
      </div>

      <div class="col-md-9 ">
        <h6 class="mb-3">Employee Info</h6>
        <div class="d-flex justify-content-start">
          <!-- Employee Info -->
          <div class="col-md-4 me-4">
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">Employee ID</h5>
                <p class="card-subtitle mb-2 text-muted">{{ userProfileInfo?.EmployeeId }}</p>
              </div>
              <div class="card-header">
                <h5 class="card-title">Name</h5>
                <p class="card-subtitle mb-2 text-muted">{{ userProfileInfo?.FirstName }} {{ userProfileInfo?.LastName
                  }}
                </p>
              </div>
              <div class="card-header">
                <h5 class="card-title">Department</h5>
                <p class="card-subtitle mb-2 text-muted">Open Source</p>
              </div>
            </div>
          </div>
          <!-- User Info -->
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="card-title">Username</h5>
                <p class="card-subtitle mb-2 text-muted">{{ userProfileInfo?.EmployeeId }}</p>
              </div>
              <div class="card-header">
                <h5 class="card-title">Email ID</h5>
                <p class="card-subtitle mb-2 text-muted">{{userProfileInfo?.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="routes">
          <app-user-routes [empId]="empId"></app-user-routes>
        </div>
      </div>
    </div>
  </div>
</section>