<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">S</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Seasia</div>
  </div>
  <ul class="sidenav-nav">
    <!-- Dashboard Accordion -->
    <li class="sidenav-nav-item">
      <div class="accordion-header">
        <a class="sidenav-nav-link" [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active"
          (click)="toggleAccordionItem('dashboard')">
          <i class="sidenav-link-icon fa-solid fa-house"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Dashboard</span>
        </a>
      </div>
    </li>

    <!-- Orders Accordion -->
    <li class="sidenav-nav-item">
      <div class="accordion-header">
        <a class="sidenav-nav-link" (click)="toggleAccordionItem('orders')">
          <i class="fa-solid fa-cart-shopping sidenav-link-icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Orders</span>
        </a>
      </div>
      <ul class="accordion-items" *ngIf="activeAccordionItem === 'orders'">
        <li>
          <a class="accordion-item" [routerLink]="['/orders/order-details']" routerLinkActive="router-link-active"
            (click)="selectOption()">
            Pending Orders
          </a>
        </li>
        <li>
          <a class="accordion-item" [routerLink]="['/orders/order-history']" routerLinkActive="router-link-active"
            (click)="selectOption()">
            Order History
          </a>
        </li>
      </ul>
    </li>

    <!-- User List Accordion -->
    <li class="sidenav-nav-item">
      <div class="accordion-header">
        <a class="sidenav-nav-link" (click)="toggleAccordionItem('User Management')">
          <i class="fa-solid fa-users sidenav-link-icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">User Management</span>
        </a>
      </div>
      <ul class="accordion-items" *ngIf="activeAccordionItem === 'User Management'">
        <li>
          <a class="accordion-item" [routerLink]="['/admin/userList']" routerLinkActive="router-link-active"
            (click)="selectOption()">User
            Lists
          </a>
        </li>
        <!-- Add more items as needed -->
      </ul>
    </li>

    <!-- Menus Accordion -->
    <li class="sidenav-nav-item">
      <div class="accordion-header">
        <a class="sidenav-nav-link" (click)="toggleAccordionItem('menus')">
          <i class="sidenav-link-icon fa-solid fa-bars"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Menus</span>
        </a>
      </div>
      <ul class="accordion-items" *ngIf="activeAccordionItem === 'menus'">
        <li *ngFor="let meal of meals">
          <a class="accordion-item" (click)="selectItem(meal.menu_id)">{{ meal.title }}</a>
        </li>
        <li>
          <a class="accordion-item" [routerLink]="['/menu/menulist']" routerLinkActive="router-link-active">Menu
            List</a>
        </li>
        <!-- Add more items as needed -->
      </ul>
    </li>
  </ul>
</div>