<button class="bg-transparent border-0" type="button" (click)="openNoKeyboard(content)">
  <i class="fa fa-bars fs-5" aria-hidden="true"></i>
</button>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Admin Panel</h4>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown">
      <button class="btn btn-secondary w-100 dropdownButton" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        Menus
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
        <ng-container *ngIf="meals && meals.length > 0">
          <li *ngFor="let meal of meals">
            <a class="dropdown-item" (click)="selectItem(meal.menu_id)">{{ meal.title }}</a>
          </li>
        </ng-container>
        <ng-container *ngIf="!(meals && meals.length > 0)">
          <li><a class="dropdown-item" href="#">No meals available</a></li>
        </ng-container>
        <ng-container>
          <li>
            <a class="dropdown-item" [routerLink]="['/menu/menulist']" routerLinkActive="router-link-active">Menu
              List</a>
            <!-- <a class="dropdown-item">Menu Grid</a> -->
          </li>
        </ng-container>
      </ul>

      <button class="btn btn-secondary w-100  dropdownButton" type="button" id="dropdownMenuButton2"
        data-bs-toggle="dropdown" aria-expanded="false">
        User Details
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton2">
        <ng-container>
          <li>
            <a class="dropdown-item" [routerLink]="['/admin/userList']" routerLinkActive="router-link-active">User List
            </a>
          </li>
        </ng-container>
      </ul>

      <button class="btn btn-secondary w-100 dropdownButton" type="button" id="dropdownMenuButton3"
        [routerLink]="['/orders/order-details']" routerLinkActive="router-link-active" aria-expanded="false">
        Orders
      </button>

      <button class="btn btn-secondary w-100 dropdownButton" type="button" id="dropdownMenuButton4"
        [routerLink]="['/orders/order-history']" routerLinkActive="router-link-active" aria-expanded="false">
        Order History
      </button>
    </div>
  </div>
</ng-template>