section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  // width: 1200px;
  overflow: hidden;
}
.disabled-card {
  opacity: 0.5;
  pointer-events: none;
}

.totalItems {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.meal-image {
  min-height: 286px;
  flex-grow: 0; // Do not grow
}

.meal-info {
  width: 66%;
  flex-grow: 1;
  overflow-y: auto;
}
.card-title {
  padding-left: 15px;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
}
.card-time {
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}

.card-items {
  width: 168px;
  // height: 69px;
  border-radius: 5px;
  border: transparent;
}

.card {
  img {
    width: 317px;
    height: 212px;
    border-radius: 30px;
  }

  .card-subtitle {
    color: #6d00c2;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
  }
  .inner-body {
    cursor: pointer;
  }

  .description {
    width: 100%;
    align-items: center;
    height: 35px;
    p {
      font-family: Poppins;
      font-size: 13px;
      font-weight: 500;
      color: #939393;
      margin: 0;
    }
  }
}
