section {
  background-color: #f6f6f6;
  width: 1200px;
  height: 286px;
}

.meal-image {
  height: 286px;
}
.meal-info {
  width: 66%;
}
.card-title {
  padding-left: 15px;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
}
.card-time {
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}

.card-items {
  width: 148px;
  height: 69px;
  border-radius: 5px;
  border: transparent;
}

.card {
  img {
    width: 317px;
    height: 212px;
    border-radius: 30px;
  }

  .card-subtitle {
    color: #6d00c2;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
  }
  .inner-body {
    cursor: pointer;
  }

  .description {
    width: 167px;
    height: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    p {
      font-family: Poppins;
      font-size: 13px;
      font-weight: 500;
      color: #939393;
    }
  }
}
