<section class="user-list-container pb-4">
  <div class="user-list-card">
    <div class="container">
      <div class="row my-4">
        <div class="col-12">
          <div class="card ">
            <div class="card-header py-4 d-flex flex-wrap align-items-center justify-content-between">
              <button (click)="openCustomOrderModal($event)" class="btn btn-outline-primary">
                Add User
              </button>
              <div class="searchBar">
                <input type="text" class="bg-transparent" placeholder="Search users..." [(ngModel)]="searchName"
                  (keydown)="searchDebounced()">
                <label for="search-icon"><i class="fa fa-search" aria-hidden="true"></i></label>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive w-100" style="min-height: 500px;">
                <app-loader *ngIf="isLoading" class="loader"></app-loader>
                <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="EmployeeId">
                    <th mat-header-cell *matHeaderCellDef> EmployeeId</th>
                    <td mat-cell *matCellDef="let element" (click)="openEnd(content, element)"> {{ element.EmployeeId }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="FirstName">
                    <th mat-header-cell *matHeaderCellDef> FirstName</th>
                    <td mat-cell *matCellDef="let element" (click)="openEnd(content, element)"> {{element.FirstName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="LastName">
                    <th mat-header-cell *matHeaderCellDef> LastName</th>
                    <td mat-cell *matCellDef="let element" (click)="openEnd(content, element)"> {{element.LastName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> email</th>
                    <td mat-cell *matCellDef="let element" (click)="openEnd(content, element)"> {{element.email}} </td>
                  </ng-container>
                  <ng-container matColumnDef="PlanPrice">
                    <th mat-header-cell *matHeaderCellDef>PlanPrice</th>
                    <td mat-cell *matCellDef="let element" (click)="openEnd(content, element)"> {{element.PlanPrice}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef> Balance</th>
                    <td mat-cell *matCellDef="let element" (click)="openEnd(content, element)"> {{element.balance}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="wallet">
                    <th mat-header-cell *matHeaderCellDef>Wallet</th>
                    <td mat-cell *matCellDef="let element" (click)="openEnd(content, element)"> {{element.wallet}} </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" style="min-width: 120px;">
                      <span style="cursor: pointer;" class="material-symbols-rounded" placement="top" ngbTooltip="Edit"
                        (click)="openEnd(content, element)">
                        edit
                      </span>
                    </td>
                  </ng-container> -->
                  <!-- Define the table header row -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <!-- Paginator -->
                <div class="mat-paginator">
                  <mat-paginator [length]="totalItems" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize"
                    [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <ng-template #content let-offcanvas>
        <app-loader *ngIf="isLoading"></app-loader>
        <div class="offcanvas-header">
          <h4 class="offcanvas-title">Employee Details</h4>
          <button type="button" class="btn-close border-0 outline-none" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
          <form>
            <div class="mb-3">
              <label for="employeeId" class="form-label">Employee Id:</label>
              <input type="text" class="form-control" id="employeeId" [(ngModel)]="selectedEmployee.EmployeeId" disabled
                name="employeeId">
            </div>
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name:</label>
              <input type="text" class="form-control" id="firstName" [(ngModel)]="selectedEmployee.FirstName" disabled
                name="firstName">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name:</label>
              <input type="text" class="form-control" id="lastName" [(ngModel)]="selectedEmployee.LastName" disabled
                name="lastName">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="text" class="form-control" id="email" [(ngModel)]="selectedEmployee.email" disabled
                name="email">
            </div>
            <div class="mb-3">
              <label for="balance" class="form-label">Balance:</label>
              <input type="text" class="form-control" id="balance" [(ngModel)]="selectedEmployee.balance" disabled
                name="balance">
            </div>
            <div class="mb-3">
              <label for="wallet" class="form-label">Wallet:</label>
              <input type="number" class="form-control" id="wallet" [(ngModel)]="selectedEmployee.wallet" name="wallet"
                (input)="onWalletInput($event)" maxlength="4">
            </div>
            <div class="d-flex justify-content-between" style="width: 30%;">
              <button type="button" class="btn btn-outline-primary" (click)="updateEmployee()"
                *ngIf="selectedEmployee">Update</button>
              <button type="button" class="btn btn-outline-primary" (click)="viewProfile(selectedEmployee)"
                *ngIf="selectedEmployee">
                View Profile
              </button>
            </div>

          </form>
        </div>
      </ng-template>
    </div>
  </div>
</section>