<section class="user-list-container pb-4">
  <div class="user-list-card">
    <div class="row my-4">
      <div class="col-12">
        <div class="card ">
          <div class="card-header py-4 d-flex flex-wrap align-items-center justify-content-between">
            <span> Company User List</span>
            <div class="searchBar">
              <input type="text" placeholder="Search users..." [(ngModel)]="searchName" (keydown)="searchDebounced()">
              <label for="search-icon"><i class="fa fa-search" aria-hidden="true"></i></label>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive w-100">
              <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="EmployeeId">
                  <th mat-header-cell *matHeaderCellDef> EmployeeId</th>
                  <td mat-cell *matCellDef="let element"> {{ element.EmployeeId }} </td>
                </ng-container>
                <ng-container matColumnDef="FirstName">
                  <th mat-header-cell *matHeaderCellDef> FirstName</th>
                  <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
                </ng-container>
                <ng-container matColumnDef="LastName">
                  <th mat-header-cell *matHeaderCellDef> LastName</th>
                  <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> email</th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="PlanPrice">
                  <th mat-header-cell *matHeaderCellDef>PlanPrice</th>
                  <td mat-cell *matCellDef="let element"> {{element.PlanPrice}} </td>
                </ng-container>
                <ng-container matColumnDef="balance">
                  <th mat-header-cell *matHeaderCellDef> Balance</th>
                  <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
                </ng-container>
                <ng-container matColumnDef="wallet">
                  <th mat-header-cell *matHeaderCellDef>Wallet</th>
                  <td mat-cell *matCellDef="let element"> {{element.wallet}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element" style="min-width: 120px;">
                    <span style="cursor: pointer;" class="material-symbols-rounded">
                      info
                    </span>
                  </td>
                </ng-container>
                <!-- Define the table header row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- Define the table rows -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <!-- Paginator -->
              <div class="mat-paginator">
                <mat-paginator [length]="totalItems" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize"
                  [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>