app-loader {
  display: flex;
  min-height: 600px;
  position: absolute;
  width: 100%;
  z-index: 3;
  right: 2px;
  align-items: center;
  justify-content: center;
}
.searchBar {
  // width: 25%;
  height: 40px;
  display: flex;
  // align-items: center;
  background-color: transparent;
  border: 1px solid #787878;
  border-radius: 45px;
  background-color: #fff;
  border: 2px solid #9122e8;

  input {
    color: #787878;
    width: 90%;
    border: none;
    border-radius: 45px;
    padding: 10px;
    outline: none;
  }
  label {
    width: 13%;
    display: flex;
    align-items: center;

    i {
      font-size: 18px;
    }
  }
}
