section {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0 auto;
  }

  app-loader {
    display: flex;
    min-height: 600px;
    position: absolute;
    width: 100%;
    z-index: 3;
    right: 2px;
    align-items: center;
  }

  margin-top: 6%;

  a {
    cursor: pointer;
  }
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
    font-size: 1.1875rem;
    font-family: Poppins;
    font-weight: 400;
    color: #8b8b8b;
  }

  .card {
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    position: relative;
    border: 0rem solid transparent;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    height: calc(100% - 30px);

    .card-header {
      border-radius: 0.5rem;
      background-color: #fff;

      h2,
      h4 {
        font-family: Poppins;
        // font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        color: #404040;
      }

      .pending-orders {
        width: 100px;
        height: 40px;
        border: 1px;
        background: var(--blue);
        color: #fff;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        outline: var(--blue);
      }
    }

    .info-cards {
      height: 160px;
    }

    .card-body {
      .menu {
        span {
          font-family: Poppins;
          font-size: 15px;
          font-weight: 400;
          line-height: 23px;
          color: #404040;
        }
        h2 {
          font-family: MuseoModerno;
          font-size: 2rem;
          font-weight: 600;
          line-height: 30px;
        }
      }
      .svg {
        position: relative;

        svg {
          fill: #9122e8;
        }
      }
      .inner-svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        font-weight: 700;
      }

      .num {
        font-size: 1.25rem;
        display: block;
        margin-right: 0.9375rem;
        font-weight: 500;
        color: #d0d0d0;
        font-family: PoetsenOne;
      }

      .item-details {
        a {
          color: #969ba0;
          text-decoration: none;

          h2 {
            font-family: PoetsenOne;
            font-weight: 400;
            color: #000 !important;
          }
        }
        .order-price {
          font-family: Poppins;
          font-weight: 300;
          color: #000 !important;
          font-size: 0.875rem !important;
          line-height: 1.6;
        }

        .order-times {
          font-size: 0.875rem !important;
          line-height: 1.6;
          margin-right: 0.9375rem;
          font-weight: 500;
          color: #d0d0d0;
        }
      }

      table {
        thead {
          tr,
          th {
            font-family: PoetsenOne;
            font-weight: 400;
            color: #000 !important;
          }
        }
        tbody {
          tr,
          td {
            font-family: Poppins;
            font-weight: 300;
            color: #000 !important;
            font-size: 0.875rem !important;
            line-height: 1.6;
          }
        }
      }
    }
  }
}
