<section class="communication-wrapper">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-tabs d-flex flex-wrap" id="nav-tab" role="tablist">
            <li class="">
              <a class="w-100 nav-item nav-link" routerLink="menu-catalogue" routerLinkActive="active" style="flex: 1">
                ADD Today's Menu
              </a>
            </li>
            <!-- <li>
              <a class="w-100 nav-item nav-link" routerLink="addProduct" routerLinkActive="active" style="flex: 1">
                Add Product
              </a>
            </li> -->
          </ul>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>