<header id="admin" class="d-flex align-items-center">
  <div class="container d-flex h-100 flex-column justify-content-center">
    <div class="row justify-content-center h-100" id="user">
      <div class="upper-header d-flex">
        <div class="sidebar-menu d-flex align-items-center justify-content-center">
          <!-- <app-sidebar></app-sidebar> -->
          <!-- <a class="nav">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a> -->
        </div>
        <div class="logo header-left d-flex align-items-center">
          <a>
            <!-- <h2 class="m-0">Seasia</h2> -->
          </a>
        </div>
        <div class="header-menu header-right d-flex justify-content-end align-items-center">
          <div class="notification d-flex justify-content-center h-100 align-items-center">
            <li class="w-100 h-100 d-flex align-items-center">
              <a class="d-flex justify-content-center w-100 h-50 align-items-center">
                <div class="bell-icon">
                  <i class="fa fa-bell" aria-hidden="true"></i>

                </div>
                <div>
                  <span class="badge light text-white bg-primary rounded-circle">12</span>
                </div>
              </a>
            </li>
          </div>
          <div class="login d-flex justify-content-end">
            <div class="dropdown" *ngIf="hasToken">
              <button class="btn btn-secondary rounded-pill btn btn-primary rounded-pill dropdown-toggle profile-button"
                type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span>
                  {{userProfileDetails.FirstName}}
                </span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <!-- <li><a class="dropdown-item" [routerLink]="['/home']" routerLinkActive="router-link-active">User
                    Panel</a></li> -->
                <li><a class="dropdown-item" (click)="logout() ">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul>
    <li *ngFor="let notification of notifications">{{ notification }}</li>
  </ul>

</header>