.close-button {
  height: 65px;

  button {
    height: 52%;
    border: none;
    background-color: transparent;

    i {
      font-size: 45px;
      color: #898e9d;
      font-weight: lighter;
    }
  }
}

// Common form
.common-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 475px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

// Inner form
.inner-form {
  width: 470px;

  h4 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 300;
  }
}

// Loader
app-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 59%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

// Form group
.form-group {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #a4a4a4;
  border-radius: 5px;

  a {
    cursor: pointer;
    color: black;
    margin-top: 10px;
    text-decoration: none;
  }

  p {
    margin-top: 10px;
    color: black;
  }

  i {
    color: #a4a4a4;
    border: 1px #a4a4a4;
    font-size: 25px;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
  }

  .form-input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    background: transparent;
    outline: #a4a4a4;
    border: 1px transparent;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

// Form button
.form-button {
  display: block;
  margin: 0 auto;
  padding: 6px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #6d00c2;
  border-color: #6d00c2;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 55px;
  border: none;
}

// Disable spin buttons on input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-section {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 800px;
    width: 100%;
  }

  .add-product-container {
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 20px;

      p {
        font-size: 1.5rem;
        font-weight: bold;
      }

      button {
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: #dc3545;

        &:hover {
          color: #a52a34;
        }
      }
    }

    .add-product-form {
      .form-group {
        margin-bottom: 20px;

        label {
          font-weight: bold;
          display: block;
          margin-bottom: 5px;
        }

        .text-danger {
          color: #dc3545;
          font-size: 0.85rem;
          margin-top: 5px;
        }
      }

      .text-center {
        text-align: center;
        margin-top: 20px;
      }

      .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

.button-danger {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 10%;
  background-color: #dc3545;
  color: #fff;
  border: 1px solid #dc3545;
  margin-right: 0.5rem;
  transition: all 0.3s ease-out;
  border-color: #dc3545;
  // margin-left: 30px;

  &:hover {
    background-color: #fff;
    color: #dc3545;
  }
}
