<section id="login" *ngIf="modalType === 'login-modal'">
  <div class="container">
    <div class="row">
      <app-loader *ngIf="isLoading"></app-loader>
      <div class="close-button d-flex justify-content-end align-items-center">
        <button class="d-flex justify-content-center align-items-center" (click)="closeModal()"><i
            class="fa fa-times-circle-o" aria-hidden="true"></i></button>
      </div>
      <div class="modal-body d-flex justify-content-center p-0" *ngIf="!otpVerified; else otpVerifiedContent">
        <form (ngSubmit)="sendOTP()" #otpForm="ngForm" class="common-form">
          <div class="inner-form">
            <h4 class="modal-title">Login</h4>
            <div class="form-group">
              <label for="emp_id" class="form-label-empId">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              </label>
              <input type="number" class="form-input" id="emp_id" name="emp_id" [(ngModel)]="loginData.emp_id"
                placeholder="Enter employee Id" required minlength="4" maxlength="6" />
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="form-button" [disabled]="otpForm.invalid">
                REQUEST OTP
              </button>
            </div>
          </div>
        </form>

      </div>
      <ng-template #otpVerifiedContent>
        <div>
          <form (ngSubmit)="verifyOTP()" #verifyForm="ngForm" class="common-form">
            <div class="inner-form">
              <h4 class="modal-title">Verify OTP</h4>
              <div class="form-group">
                <label for="otp">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </label>
                <input type="text" class="form-input" id="otp" name="otp" [(ngModel)]="loginData.otp"
                  placeholder="Enter OTP" required>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="form-button">VERIFY OTP</button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</section>

<section *ngIf="modalType === 'addItem-modal'" class="modal-section">
  <div class="container">
    <div class="row">
      <div class="add-product-container">
        <div class="title d-flex w-100 justify-content-between align-items-center">
          <p></p>
          <button class="btn btn-danger" (click)="closeModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <form #addProduct="ngForm" class="add-product-form" (ngSubmit)="onSubmit(addProduct.value, addProduct)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" id="item_name" name="item_name" class="form-control"
                  [ngModel]="editedItem ? editedItem.item_name : ''"
                  (ngModelChange)="editedItem ? editedItem.item_name = $event : null" required minlength="3"
                  placeholder="Product Name">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="number" id="price" name="price" class="form-control"
                  [ngModel]="editedItem ? editedItem.price : ''"
                  (ngModelChange)="editedItem ? editedItem.price = $event : null" required min="1" placeholder="Price">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <!-- <label for="menuTitle">Menu Title</label> -->
                <select id="menuTitle" name="menuTitle" class="form-control" [(ngModel)]="selectedMenuTitle"
                  (change)="onMenuTitleChange()" aria-label="Default select example">
                  <option value="1" selected disabled>Select Menu Title</option>
                  <option *ngFor="let menu of menuItems" [value]="menu._id">{{ menu.title }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="text-center d-flex justify-content-between">
            <button type="submit" class="btn btn-outline-primary" [disabled]="!addProduct.valid">
              {{ editedItem ? 'Update Product' : 'Add Product' }}
            </button>
            <button type="button" class="button-danger" *ngIf="editedItem"
              (click)="onDelete(editedItem._id)">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section *ngIf="modalType === 'custom-order'" class="modal-section">
  <div class="container">
    <div class="row">
      <div class="add-product-container">
        <div class="title d-flex w-100 justify-content-between align-items-center">
          <p></p>
          <button class="btn btn-danger" (click)="closeModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <form #customOrderForm="ngForm" class="add-product-form"
          (ngSubmit)="onSubmitCustomOrder(customOrderForm.value, customOrderForm)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" id="item_name" name="item_name" class="form-control"
                  [ngModel]="editedItem ? editedItem.item_name : ''"
                  (ngModelChange)="editedItem ? editedItem.item_name = $event : null" required minlength="3"
                  placeholder="Product Name">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="number" id="quantity" name="quantity" class="form-control" [ngModel]="1" disabled
                  placeholder="Quantity">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="number" id="price" name="price" class="form-control"
                  [ngModel]="editedItem ? editedItem.price : ''"
                  (ngModelChange)="editedItem ? editedItem.price = $event : null" required min="1" placeholder="Price">
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-primary" [disabled]="!customOrderForm.valid">
              {{ editedItem ? 'Update Product' : 'Add Product' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section *ngIf="modalType === 'add-user'" class="modal-section">
  <div class="container">
    <div class="row">
      <div class="add-product-container">
        <div class="title d-flex w-100 justify-content-between align-items-center">
          <p></p>
          <button class="btn btn-danger" (click)="closeModal()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <form #addUserForm="ngForm" class="add-product-form"
          (ngSubmit)="onSubmitCustomOrder(addUserForm.value, addUserForm)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="number" id="emp_id" name="emp_id" class="form-control"
                  [ngModel]="editedEmployee ? editedEmployee.emp_id : ''"
                  (ngModelChange)="editedEmployee ? editedEmployee.emp_id = $event : null" required minlength="3"
                  placeholder="EmployeeId">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" id="first_name" name="first_name" class="form-control"
                  [ngModel]="editedEmployee ? editedEmployee.first_name : ''"
                  (ngModelChange)="editedEmployee ? editedEmployee.first_name = $event : null" required minlength="3"
                  placeholder="First Name">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" id="last_name" name="last_name" class="form-control"
                  [ngModel]="editedEmployee ? editedEmployee.last_name : ''"
                  (ngModelChange)="editedEmployee ? editedEmployee.last_name = $event : null" required minlength="3"
                  placeholder="Last Name">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" id="email" name="email" class="form-control"
                  [ngModel]="editedEmployee ? editedEmployee.email : ''"
                  (ngModelChange)="editedEmployee ? editedEmployee.email = $event : null" required minlength="3"
                  placeholder="Email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" id="role" name="role" class="form-control"
                  [ngModel]="editedEmployee ? editedEmployee.role : ''"
                  (ngModelChange)="editedEmployee ? editedEmployee.role = $event : null" required minlength="3"
                  placeholder="Role">
              </div>
            </div>
          </div>
          <div class="text-center">
            <!-- <button type="submit" class="btn btn-outline-primary" [disabled]="!customOrderForm.valid">
              {{ editedItem ? 'Update Product' : 'Add Product' }}
            </button> -->
            <button (click)="onSubmitEmployee(addUserForm.value, addUserForm)" class="btn btn-outline-primary">
              Add User
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>