<header id="user" *ngIf="showUserSection">
  <div class="container">
    <div class="row justify-content-center" id="user">
      <div class="upper-header d-flex">
        <div class="logo">
          <a>
            <h2>Seasia</h2>
          </a>
        </div>
        <div class="header-menu d-flex justify-content-end align-items-center">
          <div class="cart d-flex justify-content-end">
            <button class="btn btn-primary d-flex " type="button" data-bs-toggle="offcanvas"
              class="bg-transparent btn-outline-light border-0" (click)="openEnd(content)" [disabled]="!hasToken">
              <i class="fa fa-shopping-cart position-absolute" aria-hidden="true"></i>
              <span class="badge badge-danger position-relative item-counter">
                {{ cartItemCount > 0 ? cartItemCount : 0 }}
              </span>
            </button>
          </div>
          <div class="login d-flex justify-content-end">
            <div class="dropdown custom-dropdown" *ngIf="hasToken">
              <button class="btn btn-secondary rounded-pill btn btn-primary rounded-pill dropdown-toggle profile-button"
                type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-rounded">
                  person
                </span>
                <span>
                  {{userProfileDetails?.FirstName}}
                </span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <!-- <li>
                  <a class="dropdown-item "><span>
                      {{userProfileDetails.FirstName}} {{userProfileDetails.LastName}}
                    </span></a>
                </li> -->
                <li>
                  <a class="dropdown-item" [routerLink]="['/user-profile']"
                    routerLinkActive="router-link-active">Profile</a>
                </li>
                <li *ngIf="isAdmin">
                  <a class="dropdown-item" [routerLink]="['/admin/dashboard']"
                    routerLinkActive="router-link-active">Admin
                    Panel</a>
                </li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
            </div>
            <button *ngIf="!hasToken" (click)="openLoginModal($event)" class="rounded-pill btn btn-primary rounded-pill"
              data-toggle="modal" data-target="#loginModal">Login</button>
            <!-- <button (click)="openLoginModal($event)">Login</button> -->

          </div>
        </div>
      </div>
      <div class="lower-header d-flex">
        <div class="left-text d-flex flex-column justify-content-center align-items-center">
          <div>
            <div>
              <h2><span class="black-text">Eat</span> <span class="purple-text">Fresh</span></h2>
            </div>
            <div class="mb-5">
              <h3>Stay Young</h3>
            </div>
            <div class="mb-1">
              <button (click)="scrollToHomeSection()">Order Now</button>
            </div>
          </div>
        </div>
        <div class="right-images d-flex align-items-center">
          <div class="left-image">
            <div>
              <img src="assets/image 3.png" alt="nimbu-panni">
            </div>
          </div>
          <div class="middle-image">
            <div>
              <img src="assets/image 4.png" alt="aunty">
            </div>
          </div>
          <div class="right-image">
            <div>
              <img src="assets/image 1.png" alt="burger">
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar">
        <ng-template #content let-offcanvas>
          <div class="custom-offcanvas-content">
            <div class="offcanvas-header">
              <h4 class="offcanvas-title">Order Details</h4>
              <button type="button" (click)="closeCanvas()">
                <img src="assets/close-circle-svgrepo-com (2) 1.png" alt="close button">
              </button>
            </div>
            <div class="offcanvas-body" *ngIf="cartItems.length > 0; else emptyCart">
              <app-loader *ngIf="isLoading"></app-loader>
              <div class=" d-flex justify-content-between align-items-center item-info-body item-head">
                <p>Item Name</p>
                <p>Item Quantity</p>
                <p>Item Price</p>
                <p></p>
              </div>
              <div *ngFor="let item of cartItems;let $index = index"
                class="d-flex justify-content-between align-items-center item-info-body">
                <div class="item-name-info">
                  <p>{{ item.item_name | titlecase }} </p>
                </div>
                <div class="d-flex quantity-button align-items-center">
                  <button class="quantity-btn" (click)="decreaseQuantity($index)">-</button>
                  <input class="quantity-input text-center" [(ngModel)]="cartItems[$index].quantity"
                    [disabled]="!quantity" type="number" min="1">
                  <button class="quantity-btn" (click)="increaseQuantity($index)">+</button>
                </div>
                <div style="width: 70px;">
                  <p> {{ item.price | currency:'INR' }}</p>
                </div>
                <button (click)="deleteItem($index)" class="me-1 bg-transparent"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
              </div>
              <div class="d-flex justify-content-end align-items-center item-info-body">
                <div class="item-name-info" style="width: 38%;">
                  <p> Total: {{ getTotalBalance() | currency:'INR' }}</p>
                </div>
              </div>
              <div class="text-end d-flex flex-column pt-3">
                <div class="pt-2 d-grid">
                  <button (click)="confirmOrder()" class="btn btn-outline-primary" [disabled]="!hasCartItems">
                    Confirm Order
                  </button>
                </div>
              </div>
              <!-- <table mat-table matSort [dataSource]="cartItems" class="mat-elevation-z8">
                <ng-container matColumnDef="item_name">
                  <th mat-header-cell *matHeaderCellDef>Item Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.item_name }}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef>Price</th>
                  <td mat-cell *matCellDef="let element">{{ element.price }}</td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef>Quantity</th>
                  <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table> -->
            </div>
            <ng-template #emptyCart>
              <div class="empty-cart-message text-center">
                <p>
                  No Items Found In The Cart
                </p>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>