@import "../../../../theme_var.scss";

.dropdown {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
app-loader {
  display: flex;
  min-height: 600px;
  position: absolute;
  width: 100%;
  z-index: 1;
  right: 2px;
  align-items: center;
}

.dropdown-menu {
  min-width: 15.375rem;
  // padding: 0rem 0 1rem;
  top: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-item:active {
  background-color: $light-primmary-color;
}
