<section class="wallet-history-container pb-4">
  <div class="wallet-history-card">
    <div class="row my-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive w-100">
              <div *ngIf="dataSource?.data?.length === 0; else walletHistoryTable">
                No items found in the wallet history.
              </div>
              <ng-template #walletHistoryTable>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="payment">
                    <th mat-header-cell *matHeaderCellDef>Payment</th>
                    <td mat-cell *matCellDef="let element">{{ element.payment }}</td>
                  </ng-container>

                  <ng-container matColumnDef="updatedWallet">
                    <th mat-header-cell *matHeaderCellDef>Wallet Balance</th>
                    <td mat-cell *matCellDef="let element">{{ element.updatedWallet }}</td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
                  </ng-container>

                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef>Time</th>
                    <td mat-cell *matCellDef="let element">{{ element.time }}</td>
                  </ng-container>
                  <!-- Define the table header row -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <!-- Define the table rows -->
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>