.top-menu-heading {
  h2 {
    font-family: PoetsenOne;
    font-size: 44px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.menu-selection-card {
  width: 92%;

  button {
    width: 360px;
    height: 172px;
    border-radius: 20px;
    border: 2px solid transparent; /* Added 'solid' to specify the border style */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .st0 {
      fill: transparent;
      stroke: #000000;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    svg {
      height: 96px;
      width: 96px;
    }

    &:hover {
      border: 1px solid #6d00c2;

      .st0 {
        fill: transparent;
        stroke: #6d00c2;
      }
      .st1 {
        fill: #6d00c2;
      }
      .st2 {
        fill: #6d00c2;
        stroke: #6d00c2;
      }
    }
  }

  button.active-button {
    border: 1px solid #6d00c2;

    .st0 {
      fill: transparent;
      stroke: #6d00c2;
    }
    .st1 {
      fill: #6d00c2;
    }
    .st2 {
      fill: #6d00c2;
      stroke: #6d00c2;
    }
  }
}
