<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class=" about-us d-flex justify-content-between p-0">
        <div class="employee-images">
          <img src="/assets/image 2.png" alt="employee photo">
        </div>
        <div class="team-details d-flex align-items-center text-start ">
          <div style="height: 500px;">
            <div class="title d-flex justify-content-end">
              <h2>Meet Our Team</h2>
            </div>
            <div class="body d-flex justify-content-center">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt sodales est non facilisis.
                Maecenas hendrerit lectus sit amet nunc lacinia, a dictum ex mattis. Vestibulum a erat ac metus
                fermentum
                porta in vitae dui. Proin vulputate leo ac urna lacinia cursus. Curabitur in auctor leo. Vestibulum in
                sem
                tristique, rhoncus eros a, congue sapien. Aenean pretium porttitor mauris, id facilisis quam rhoncus ut.
                Sed
                convallis odio in augue pharetra rhoncus. Sed sagittis diam ut mauris dapibus scelerisque.
              </p>
            </div>
            <div class="footer d-flex justify-content-end">
              <button>Order Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>