<section class="d-flex" *ngIf="todaymenu">
  <app-loader class="today-menu-loader" *ngIf="isLoading"></app-loader>
  <div class="container" [ngClass]="{'full-width': showSidebar}">
    <div class="d-flex justify-content-between align-items-center mb-sm-4">
      <div class="mt-sm-4 d-flex flex-wrap align-items-center">
        <div>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Today's Menu</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex flex-column align-items-center">
        <div class="tabs w-100">
          <div class="d-flex align-items-center ">
            <div class="menu-selection-card d-flex justify-content-start pt-3 ">
              <div class="breakfast">
                <button [ngClass]="{'active-button': selectedCategory === 'Breakfast'}"
                  [disabled]="(isCategoryDisabled$ | async)['Breakfast']" (click)="updateSelectedCategory('Breakfast')">
                  Breakfast
                </button>
              </div>
              <div class="lunch">
                <button [ngClass]="{'active-button': selectedCategory === 'Lunch'}"
                  [disabled]="(isCategoryDisabled$ | async)['Lunch']" (click)="updateSelectedCategory('Lunch')">
                  Lunch
                </button>
              </div>
              <div class="snacks">
                <button [ngClass]="{'active-button': selectedCategory === 'Snacks'}"
                  [disabled]="(isCategoryDisabled$ | async)['Snacks']" (click)="updateSelectedCategory('Snacks')">
                  Snacks
                </button>
              </div>
              <div class="Custom">
                <button [ngClass]="{'active-button': selectedCategory1 === 'custom'}"
                  (click)="updateSelectedCategory('custom')">
                  Custom
                </button>
              </div>
            </div>
            <div class="add-product">
              <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-primary" (click)="openAddItemModal($event)">Add
                  Item</button>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row w-100">
              <div class="col-md-8 meal-info d-flex align-items-center">
                <div class="card border-0 bg-transparent w-100">
                  <div>
                    <div *ngIf="submenu && submenu.length > 0">
                      <div *ngFor="let meal of submenu">
                        <div *ngIf="meal.title.toLowerCase() === selectedCategory.toLowerCase()"
                          class="d-flex justify-content-between align-items-center " style="height: 45px;">
                          <!-- <p class="card-title m-0">{{ selectedCategory }}</p> -->
                          <p> </p>
                          <p class="card-time d-flex align-items-center">Timing: {{meal.time}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0" *ngIf="submenu && submenu.length > 0" style="min-height: 210px;">
                    <div *ngFor="let meal of submenu">
                      <div class=" d-flex flex-wrap gap-3 justify-content-center align-items-center"
                        *ngIf="meal.title.toLowerCase() === selectedCategory.toLowerCase()">
                        <div class="card-items" *ngFor="let item of meal.items">
                          <div class="card border-0 shadow h-100"
                            (click)="addTodayMenu(meal._id, [{ id: item._id, menuName: meal.title, itemName: item.item_name }]); openSidebar()">
                            <div
                              class="card-body inner-body d-flex justify-content-center align-items-center text-center">
                              <div>
                                <h6 class="card-subtitle mb-2">{{ item.item_name | titlecase }}</h6>
                                <p class="card-text text-muted">RS. {{ item.price }}</p>
                              </div>
                            </div>
                            <div class="edit-field" (click)="openEditModal(item); $event.stopPropagation();">
                              <span class="material-symbols-rounded">
                                edit
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end description">
                    <p>click item to add in menu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="today-Sidebar" [ngClass]="{'sidebar-open': showSidebar}" *ngIf="selectedMenus.length > 0">
    <div class="container">
      <div class="row">
        <div class="sidebar">
          <div class="inner-sidebar">
            <div class="inner-sidebar-header d-flex align-items-center">
              <h5 id="offcanvasRightLabel">Selected Menus</h5>
            </div>
            <div class="inner-sidebar-body">
              <div class=" d-flex justify-content-between align-items-center item-info-body today-menu-head">
                <p>Item Category</p>
                <p>Item Name</p>
                <!-- <p></p> -->
                <p></p>
              </div>
              <div *ngIf="selectedMenus">
                <div *ngFor=" let menu of selectedMenus">
                  <ul>
                    <li *ngFor="let subMenuItem of menu.subMenuItems; let i = index">
                      <span>
                        {{ subMenuItem.menuName }}
                      </span>
                      <span>
                        {{ subMenuItem.itemName }}
                      </span>
                      <span class="delete-items">
                        <i (click)="deleteItem(menu.menuType, i)" class="fa fa-trash" aria-hidden="true"></i>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div>
                <div class="w-100">
                  <button (click)="todayMenu()" class="btn btn-outline-primary w-100">
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <ng-content select=".todaymenu"></ng-content>
</section>

<section class="d-flex" *ngIf="custommenu">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="container" [ngClass]="{'full-width': showSidebar}">
    <div class="d-flex justify-content-between align-items-center mb-sm-4">
      <div class="mt-sm-4 d-flex flex-wrap align-items-center">
        <div>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Custom Order</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex flex-column align-items-center">
        <div class="tabs w-100">
          <div class="menu-selection-card d-flex justify-content-start pt-3">
            <div class="breakfast">
              <button [ngClass]="{'active-button': selectedCategory1 === 'Breakfast'}"
                (click)="updateSelectedCategory('Breakfast')">
                Breakfast
              </button>
            </div>
            <div class="lunch">
              <button [ngClass]="{'active-button': selectedCategory1 === 'Lunch'}"
                (click)="updateSelectedCategory('Lunch')">
                Lunch
              </button>
            </div>
            <div class="snacks">
              <button [ngClass]="{'active-button': selectedCategory1 === 'Snacks'}"
                (click)="updateSelectedCategory('Snacks')">
                Snacks
              </button>
            </div>
            <div class="Custom">
              <button [ngClass]="{'active-button': selectedCategory1 === 'custom'}"
                (click)="updateSelectedCategory('custom')">
                Custom
              </button>
            </div>
            <div class="custom-order-div">
              <div>
                <button (click)="openCustomOrderModal($event)" class="custom-buttom m-0" data-toggle="modal"
                  data-target="#loginModal">
                  <span>Add Item</span>
                </button>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row w-100">
              <div class="col-md-8 meal-info d-flex align-items-center">
                <div class="card border-0 bg-transparent w-100">
                  <div>
                    <div *ngIf="submenu && submenu.length > 0">
                      <div *ngFor="let meal of submenu">
                        <div *ngIf="meal.title.toLowerCase() === selectedCategory.toLowerCase()"
                          class="d-flex justify-content-between align-items-center mb-20" style="height: 45px;">
                          <!-- <p class="card-title m-0">{{ selectedCategory }}</p> -->
                          <p></p>
                          <p class="card-time d-flex align-items-center">Timing: {{meal.time}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center" *ngIf="!submenu || submenu.length === 0">
                      <!-- <app-loader></app-loader> -->
                    </div>
                  </div>
                  <div class="card-body p-0" *ngIf="submenu && submenu.length > 0" style="min-height: 210px;">
                    <div style="padding: 0px 20px 0px 20px;" *ngFor="let meal of submenu">
                      <div class=" d-flex flex-wrap gap-3 justify-content-center"
                        *ngIf="meal.title.toLowerCase() === selectedCategory.toLowerCase()">
                        <div class="card-items" *ngFor="let item of meal.items">
                          <div class="card border-0 shadow h-100">
                            <div
                              class="card-body inner-body d-flex justify-content-center align-items-center text-center"
                              (click)="addItemToCart(item.item_name, item.price,item._id ); openSidebar();">
                              <div>
                                <h6 class="card-subtitle mb-2">{{ item.item_name | titlecase }}</h6>
                                <p class="card-text text-muted">RS. {{ item.price }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end description">
                    <p>click item to add in menu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-Sidebar" [ngClass]="{'sidebar-open': showSidebar}" *ngIf="cartItems.length > 0">
    <div class="container">
      <div class="row">
        <div class="sidebar">
          <div class="custom-offcanvas-content w-100">
            <div class="offcanvas-header">
              <!-- <h4 class="offcanvas-title">Order Details</h4> -->
            </div>
            <div class="offcanvas-body">
              <div class=" d-flex justify-content-between align-items-center item-info-body item-head">
                <p>Item Name</p>
                <p>Item Quantity</p>
                <p>Item Price</p>
                <p></p>
              </div>
              <div *ngFor="let item of cartItems;let $index = index"
                class="d-flex justify-content-between align-items-center item-info-body">
                <div class="item-name-info">
                  <p>{{ item.item_name | titlecase }} </p>
                </div>
                <div class="d-flex quantity-button align-items-center">
                  <button class="quantity-btn" (click)="decreaseQuantity($index)">-</button>
                  <input class="quantity-input text-center" [(ngModel)]="cartItems[$index].quantity"
                    [disabled]="!quantity" type="number" min="1">
                  <button class="quantity-btn" (click)="increaseQuantity($index)">+</button>
                </div>
                <div style="width: 70px;">
                  <p> {{ item.price | currency:'INR' }}</p>
                </div>
                <button (click)="deleteItems($index)" class="me-1 bg-transparent"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
              </div>
              <div class="d-flex justify-content-end align-items-center item-info-body">
                <div class="item-name-info" style="width: 39%;">
                  <p> Total: {{ getTotalBalance() | currency:'INR' }}</p>
                </div>
              </div>
              <div class="text-end d-flex flex-column pt-3">
                <div class="m-1">
                  <input class="form-control" type="text" placeholder="Enter Employee Id" [(ngModel)]="empId">
                </div>
                <div class="pt-2 d-grid">
                  <button (click)="confirmOrder()" class="btn btn-outline-primary" [disabled]="!hasCartItems">
                    Confirm Order
                  </button>
                </div>
              </div>
              <!-- <table mat-table matSort [dataSource]="cartItems" class="mat-elevation-z8">
                <ng-container matColumnDef="item_name">
                  <th mat-header-cell *matHeaderCellDef>Item Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.item_name }}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef>Price</th>
                  <td mat-cell *matCellDef="let element">{{ element.price }}</td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef>Quantity</th>
                  <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-content select=".custommenu"></ng-content>
</section>